@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #292D32;
}

::-webkit-scrollbar {
  width: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  max-width: 2250px;
  margin: 0 auto;
}

.header {
  border-radius: 0 30px;
  height: 80px;
  width: 1300px;
  display: flex;
  padding-left: 20px;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.68);
  position: fixed;
  top: 20px;
  left: 50%;
  translate: -50%;
  z-index: 99;
}
.header .iconname-container {
  display: flex;
}
.header .iconname-container .icon {
  border-right: 2px solid #D1292E;
  margin-right: 10px;
  padding-right: 15px;
  display: flex;
  align-items: center;
}
.header .iconname-container .icon img {
  width: 100%;
}
.header .iconname-container p {
  width: 190px;
}
.header a:hover {
  color: #D1292E;
}
.header ul {
  display: flex;
  gap: 25px;
}
.header ul li {
  list-style: none;
}
.header .menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  cursor: pointer;
  width: 40px;
  gap: 6px;
  z-index: 999;
  display: none;
}
.header .menu-btn .btn-line {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #D1292E;
}
.header .header-media {
  display: none;
}
.header .catalogue {
  position: relative;
}
.header .catalogue .additional-list {
  background-color: #ffffff;
  border-top: 3px solid #D1292E;
  height: 170px;
  width: 300px;
  position: absolute;
  top: 50px;
  translate: -30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  display: none;
}
.header .catalogue .additional-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .catalogue .additional-list li div {
  height: 10px;
  width: 10px;
  border-right: 1px solid #292D32;
  border-bottom: 1px solid #292D32;
  rotate: -45deg;
}
.header .catalogue .additional-list li:hover {
  color: #D1292E;
}
.header .catalogue .additional-list li:hover div {
  border-color: #D1292E;
}
.header .catalogue .additional-list li .inner-list {
  background-color: #ffffff;
  height: 170px;
  width: 300px;
  position: absolute;
  top: -2px;
  translate: 93%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  display: none;
}
.header .search-block {
  display: flex;
  height: 55px;
  width: 300px;
  padding-right: 35px;
  padding-left: 55px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .search-block input {
  outline: none;
  border: 0;
  position: absolute;
  right: 10px;
  background: #F2F2F2;
  border-radius: 60px;
  height: 55px;
  width: 260px;
  display: none;
  padding: 0 47px 0 20px;
}
.header .search-block img {
  height: 20px;
  width: 20px;
  z-index: 2;
  right: 35px;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
main .button-uni {
  color: white;
  background: #D1292E;
  border: 2px solid #D1292E;
  border-radius: 60px;
  padding: 18px 45px;
  font-size: 16px;
  font-weight: 700;
  max-width: 190px;
  cursor: pointer;
}
main .button-uni:hover {
  background-color: #ffffff;
  color: #D1292E;
}
main .section-one {
  height: 100vh;
  max-height: 1080px;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
main .section-one #current-slide {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  top: 0;
  right: -100px;
  z-index: 2;
  translate: 0 30%;
}
main .section-one .mySwiper {
  height: 100%;
}
main .section-one .mySwiper .swiper-slide {
  background-image: url(..//images/section-one.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .section-one .mySwiper .swiper-slide .swiper-content {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
main .section-one .mySwiper .swiper-slide .swiper-content img {
  height: 430px;
  width: 430px;
}
main .section-one .mySwiper .swiper-slide .swiper-content .swiper-text {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
main .section-one .mySwiper .swiper-slide .swiper-content .swiper-text h2 {
  font-size: 46px;
  font-weight: 700;
}
main .section-one .mySwiper .swiper-slide .swiper-content .swiper-text p {
  max-width: 630px;
}
main .section-one .mySwiper .swiper-slide .swiper-content .swiper-text button {
  color: white;
  background: #D1292E;
  border: 2px solid #D1292E;
  border-radius: 60px;
  padding: 18px 45px;
  font-size: 16px;
  font-weight: 700;
  max-width: 190px;
}
main .section-one .mySwiper .swiper-slide .swiper-content .swiper-text button:hover {
  background-color: #ffffff;
  color: #D1292E;
}
main .section-one .mySwiper .swiper-buttons {
  position: relative;
  height: 50px;
  width: 100px;
  bottom: 100px;
}
main .section-one .mySwiper .swiper-pagination {
  height: 10px;
  width: 600px;
  margin-bottom: 100px;
  position: absolute;
  top: 0;
}
main .section-one .mySwiper .swiper-pagination span {
  height: 1px;
  width: 35px;
  border-radius: 0;
  background-color: #292D32;
}
main .section-one .mySwiper .swiper-next-section-one {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 10px;
  border-right: 1px solid #292D32;
  border-bottom: 1px solid #292D32;
  rotate: -45deg;
  z-index: 2;
  left: 420px;
  cursor: pointer;
}
main hr {
  height: 3px;
  background-color: #D1292E;
  border: 0;
  width: 285px;
  margin-right: 345px;
}
main .section-two {
  background-image: url(..//images/section-two.jpg);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 135px;
  padding-top: 90px;
  gap: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 735px;
}
main .section-two .img-name-container {
  max-width: 620px;
  height: 145px;
  position: relative;
}
main .section-two .img-name-container h3 {
  position: absolute;
  bottom: 45px;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
}
main .section-two .img-name-container img {
  position: absolute;
}
main .section-two .img-name-container .red-block {
  height: 5px;
  width: 50px;
  position: absolute;
  top: 17px;
  left: -7px;
  background-color: #D1292E;
}
main .section-two .description-container {
  max-width: 630px;
}
main .section-three {
  max-height: 900px;
  height: 100%;
  width: 100%;
  padding: 0px 140px 0 140px;
  background: linear-gradient(0deg, #F4F4F4 40%, rgba(244, 244, 244, 0) 100%);
  background-size: cover;
}
main .section-three .swiper {
  width: 100%;
  height: 100%;
  position: relative;
}
main .section-three .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
main .section-three .mySwiper2 {
  height: 100%;
  width: 100%;
}
main .section-three .mySwiper2 .swiper-wrapper {
  max-height: 550px;
}
main .section-three .mySwiper2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  padding: 50px 0;
}
main .section-three .mySwiper2 .swiper-slide .slide-text-custom {
  max-width: 570px;
  display: flex;
  gap: 35px;
  flex-direction: column;
}
main .section-three .mySwiper2 .swiper-slide .slide-text-custom .slide-name-cont {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  margin-bottom: 30px;
}
main .section-three .mySwiper2 .swiper-slide .slide-text-custom .slide-name-cont h2 {
  font-size: 46px;
  font-weight: 700;
  translate: 0 110%;
}
main .section-three .mySwiper2 .swiper-slide .slide-text-custom span, main .section-three .mySwiper2 .swiper-slide .slide-text-custom p {
  text-align: left;
}
main .section-three .mySwiper2 .swiper-slide .slide-text-custom button {
  margin-top: 10px;
  white-space: nowrap;
  background-color: #D1292E;
  color: white;
  border-radius: 60px;
  padding: 18px 45px;
  font-size: 16px;
  font-weight: 700;
  max-width: 190px;
  border: 1px solid #D1292E;
}
main .section-three .mySwiper2 .swiper-slide .slide-text-custom button:hover {
  background-color: #ffffff;
  color: #D1292E;
}
main .section-three .mySwiper2 .swiper-slide .slide-text-custom .outline {
  position: absolute;
  left: 0;
  font-family: sans-serif;
  font-size: 120px;
  font-weight: 800;
  color: #000000;
  white-space: nowrap;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  z-index: -1;
}
main .section-three .mySwiper2 .swiper-slide .slide-text-custom .outline::after {
  content: "";
  display: block;
  height: 5px;
  width: 50px;
  background-color: #D1292E;
  z-index: 2;
  position: absolute;
  top: 32px;
}
main .section-three .mySwiper2 .swiper-slide img {
  display: block;
  max-width: 300px;
  width: 100%;
  border-radius: 20px;
}
main .section-three .left-right-wrapper {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
}
main .section-three .mySwiper3 {
  padding: 20px 0 70px 0;
}
main .section-three .mySwiper3 .swiper-slide {
  width: 215px;
  height: 90px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}
main .section-three .mySwiper3 .swiper-slide img {
  max-width: 70px;
  width: 100%;
}
main .section-three .mySwiper3 .swiper-slide h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
main .section-three .mySwiper3 .swiper-slide-thumb-active {
  border-color: red;
}
main .section-three .swiper-button-next {
  height: 50px;
  width: 50px;
  translate: 70px -30px;
  border-radius: 50%;
}
main .section-three .swiper-button-next img {
  rotate: 180deg;
  width: 100%;
}
main .section-three .swiper-button-next::after {
  display: none;
}
main .section-three .swiper-button-prev {
  height: 50px;
  width: 50px;
  translate: -70px -30px;
}
main .section-three .swiper-button-prev::after {
  display: none;
}
main .start-line {
  margin: 0;
}
main .section-four {
  width: 100%;
  padding: 155px 165px 165px;
}
main .section-four h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  position: relative;
}
main .section-four h2::after {
  content: "";
  width: 50px;
  height: 5px;
  background-color: #D1292E;
  position: absolute;
  left: 0;
  top: -30px;
}
main .section-four ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
}
main .section-four button {
  white-space: nowrap;
  background-color: #ffffff;
  color: #D1292E;
}
main .section-four button:hover {
  background-color: #D1292E;
  color: white;
}
main .section-four .news-cards-cont {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}
main .section-four .news-cards-cont .cards {
  display: flex;
  flex-direction: column;
  width: 370px;
  gap: 20px;
}
main .section-four .news-cards-cont .cards span {
  padding: 5px 0;
  color: rgba(82, 85, 87, 0.4862745098);
  font-size: 18px;
  line-height: 22px;
}
main .section-four .news-cards-cont .cards p {
  max-width: 90%;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
main .section-four .news-cards-cont .cards a {
  display: block;
  color: #D1292E;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1.5px solid rgba(209, 41, 47, 0);
}
main .section-four .news-cards-cont .cards a:hover {
  border-bottom: 1.5px solid #d1292f;
}
main .hr-left {
  margin-right: 60%;
}
main .section-five {
  width: 100%;
  background: linear-gradient(180deg, #F4F4F4 0%, rgba(244, 244, 244, 0) 100%);
  width: 100%;
  padding: 120px 165px;
}
main .section-five h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  position: relative;
}
main .section-five h2::after {
  content: "";
  width: 50px;
  height: 5px;
  background-color: #D1292E;
  position: absolute;
  left: 0;
  top: -30px;
}
main .section-five ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
}
main .section-five button {
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.1960784314);
  color: #D1292E;
}
main .section-five button:hover {
  background-color: #D1292E;
  color: white;
}
main .section-five .uslugi-cont-media {
  display: none;
}
main .section-five .uslugi-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
}
main .section-five .uslugi-cont .uslugi {
  width: 270px;
  height: 245px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
  padding: 0 40px;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  border-radius: 20px;
  text-align: center;
}
main .section-five .uslugi-cont .uslugi img {
  height: 60px;
  width: 60px;
}

footer {
  border-top: 1px solid #efefef;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 60px;
}
footer .grey-hr {
  background: #EFEFEF;
  border: 0;
  height: 1px;
  width: 85%;
  margin-bottom: 30px;
}
footer .addresses-contacts-cont {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}
footer .addresses-contacts-cont .address {
  width: 300px;
  margin: 0;
  display: flex;
  align-items: start;
  gap: 5px;
}
footer .addresses-contacts-cont .address img {
  width: 25px;
}
footer .addresses-contacts-cont .address .inner-box {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .addresses-contacts-cont .address .inner-box .add-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
footer .addresses-contacts-cont .address .inner-box .tel {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #292D32;
}
footer .addresses-contacts-cont .address-home {
  width: 300px;
}
footer .addresses-contacts-cont .address-home img {
  width: 100%;
}

.accordion {
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.modal-window input {
  max-width: 300px;
  width: 100%;
  height: 50px;
}

.section-catalogue {
  padding-top: 150px;
  display: flex;
  height: 100%;
  width: 100%;
  gap: 45px;
  padding-left: 135px;
  background: linear-gradient(180deg, #F4F4F4 0%, rgba(244, 244, 244, 0) 100%);
}
.section-catalogue .sidebar ul li {
  list-style: none;
  padding: 30px 0;
  border-bottom: 1px solid #E1E1E1;
  display: flex;
  justify-content: space-between;
}
.section-catalogue .sidebar ul li span {
  display: block;
  height: 7px;
  width: 7px;
  border-right: 2px solid #292D32;
  border-bottom: 2px solid #292D32;
  rotate: -45deg;
  z-index: 2;
  cursor: pointer;
}
.section-catalogue .sidebar ul .active-red {
  padding: 0 0 30px 0;
  border-bottom: 1px solid #d1292f;
  color: #d1292f;
}
.section-catalogue .sidebar ul .active-red span {
  border-right-color: #d1292f;
  border-bottom-color: #d1292f;
}
.section-catalogue .main-content {
  width: 950px;
  height: 100%;
  padding: 0 0 100px 0;
}
.section-catalogue .main-content h2 {
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
}
.section-catalogue .main-content span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.section-catalogue .main-content .goods {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  gap: 30px;
}
.section-catalogue .main-content .goods .good-card {
  height: 310px;
  width: 270px;
  background: #ffffff;
  border: 1px solid #E2E2E2;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section-catalogue .main-content .goods .good-card img {
  width: 160px;
}
.section-catalogue .main-content .goods .good-card p {
  width: 85%;
  text-align: center;
}
.section-catalogue .main-content .pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #E2E2E2;
  border-radius: 20px;
  padding: 20px 25px;
  margin: 30px 0 10px 0;
}
.section-catalogue .main-content .pagination-container .prev, .section-catalogue .main-content .pagination-container .next, .section-catalogue .main-content .pagination-container .show-all {
  max-height: 40px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.section-catalogue .main-content .pagination-container .show-all {
  border: 1px solid #D1292E;
  border-radius: 500px;
  width: 190px;
  height: 50px;
  color: #D1292E;
  margin-left: 100px;
}
.section-catalogue .main-content .pagination-container .pagination {
  display: flex;
  gap: 45px;
  margin: 20px auto;
  width: -moz-fit-content;
  width: fit-content;
  list-style: none;
}
.section-catalogue .main-content .pagination-container .pagination li {
  cursor: pointer;
}
.section-catalogue .main-content .pagination-container .pagination button {
  padding: 10px;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.section-catalogue .main-content .pagination-container .pagination ._hide + ._hide {
  display: none;
}
.section-catalogue .main-content .pagination-container .pagination .pagination__item span._active {
  color: #D1292E;
}
.section-catalogue .main-content .pagination-container .pagination ._hide {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0);
}
.section-catalogue .main-content .pagination-container .pagination ._hide::after {
  content: "...";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  place-items: center;
  border-radius: 22px;
  background-color: #fff;
}/*# sourceMappingURL=style.css.map */